*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
  text-decoration: none;
}
.bg-danger2{background: #fd0100;}
.bg-primary2{background: #02006D;}
.bg-warning2{background: #f0aa00;}
.bg-info2{background: #3db2d5;}
.bg-dark2{background: #232936;}

/* header section start */
.my ul li .nav-link{
    color: #000;
    font-size: 14;
    font-weight: bold;
    text-transform: uppercase;
 }
 .collapse .navbar-nav .dropdown-item:hover{
    background-color: #ffb607;
    color: #fff;
    font-weight: bold;
 } 
 .collapse form .btnlog{
    padding: 15px 34px;
    font-size: 16px;
    font-weight: bold;
 }
 .collapse form .btns{
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
 .collapse form .btns:hover{
    background-color: #007bff;
 }
 .collapse form .btnlog:hover{
    background-color: #007bff;
 }
 .dropdown:hover .dropdown-menu{
   display: block;
   border: none;
   left: 0px;
   top: 100px;
   border-radius: 0;
   width: 250px;
 }
 .dropdown-item{
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
 }
 .bg-danger2{background: #fd0100;}
 .nav-item{
   padding: 30px 16px;
 }
 .navbar-nav .nav-item:hover{
   color: yellow;
   font-weight: bold;
   background-color: red;
 }
 ul .nav-item:hover .nav-link{
   color: #fff;
 }
/* header section end */

/* slider section start */
 .carousel-caption{
   bottom: 25rem;
 }
 .carousel-caption h5{
  font-size: 60px;
  font-weight: bold;
   font-family: 'Times New Roman', Times, serif;
 }
 .carousel-caption p{
  font-size: 18px;
 }
 .carousel-indicators{
  bottom: 8rem;
}
.carousel-dark .carousel-indicators [data-bs-target]{
  width: 20px;
  height: 20px;
  bottom: 200px;
  border-radius: 50%;
  color: white;
}
.carousel-control-prev{
  width: 75px;
  height: 75px;
  background-color: rgb(224, 224, 224);
  position: absolute;
  top: 20rem;
  bottom: 20rem;
}
.carousel-control-next{
  width: 75px;
  height: 75px;
  background-color: rgb(224, 224, 224);
  position: absolute;
  top: 20rem;
  bottom: 20rem;
}
.bt .enroll:hover{
  transition: all 0.3s;
  color: yellow !important;
  background-color: black;
  border: none;
}
.bt .tour:hover{
  transition: all 0.3s;
  color: black !important;
  background-color: white;
  border: none;
}
.bt{
  position: relative;
  animation-name: suhaib;
  animation-duration: 3s;
  animation-iteration-count: 5;
}
.carousel-item:first-child{
  animation: slideup 0.8s;
}
.carousel-item:nth-child(2){
  animation: slidedown 0.9s;
}
@keyframes slideup{
  0%{
    transform: translateY(350px);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes slidedown{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(350px);
  }
}
@keyframes suhaib {
  0%{
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  25%{
    top: 2500px;
    left: 0px;
    bottom: 0px;
  }
  75%{
    top: 250px;
    left: 0px;
    bottom: 0px;
  }
  100%{
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
}
/* slider section end */

/* our feature section start */
.our-feature{
   position: relative;
   top: -145px;
 }
 @media (max-width:991px) {
  .our-feature{
    position: relative;
    top: -145px !important;
  }
 }
/* our feature section end */

/* online learning section start */

 

/* online learning section end */

/* our popular section start */
.popular{
  width: 100%;
  height: 700px;
  background:linear-gradient(rgba(25,24,24,0.5),rgba(0,0,0,0.5)), url(../img/bg.jpg);
  background-size: cover;
 }
 .popular h1{
  font-size: 48px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
 }
 .more .row .col .time{
  position: relative;
  bottom: 23px;
 }
 .next-pre button{
  position: relative;
  bottom: 260px;
 }
 .next-pre button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
 }
 .next-pre button:hover{
  background-color: yellow;
  border: yellow;
  color: white;
 }
/* our popular section end */

/* our choice section start */
  .choice{
    background:linear-gradient(rgba(25,24,24,0.5),rgba(0,0,0,0.5)), url(../img/choice-bg.jpg) no-repeat top;
    background-color: #ee3131;
    background-size: cover;
    width:100%;
    }
  .choice a:hover{
    background-color: black;
    transition: all 0.3s;
  }
  .choice h1{
    font-size: 48px;
  }
  .choice p{
    font-size: 14px;
    color: #000;
  }
/* our choice section end */

/* video section start */
 .video h1{
  font-size: 48px;
  color: #56225e;
 }
 .large img{
  border: 14px solid #fff;
  box-shadow: 0 0 18px rgb(0 0 0 / 12%);
 }
 .large a{
  font-size: 50px;
  color: #ee3131;
  position: relative;
  left: 550px;
  bottom: 380px;
 }
/* video section end */

/* gallery section start */
 .photo-gallery{
  width: 100%;
  background: url(../img/gallery-bg.jpg);
 }
 .photo-gallery a:hover{
  background-color: #02006D;
 }
 .photo-gallery h1{
  font-size: 48px;
  color: #56225e;
 }
 p{
  font-size: 14px;
  line-height: 26px;
  color: #52575e;
 }
/* gallery section end */

/* parents section start */
 .parent p{
  color: #b2b2b2;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
 }
 .parent h1{
  color: #000;
  font-size: 48px;
  margin: 0;
 }
/* parents section end */

/* call section start */
 .calle{
  background: url(../img/enroll-bg.jpg);
 }
 .calle h1{
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  margin: 0;
  line-height: 1.2;
  padding-top: 85px;
 }
 .calle p{
  font-size: 16px;
  padding: 0;
  line-height: 26px;
 }
 .calle a{
  font-size: 32px;
  padding-left: 20px;
 }
/* call section end */

/* our teachers section start */
 .teach h1{
  font-size: 48px;
  color: #56225e;
 }
 .teachimg img{
  width: 280px;
  max-width: 100%;
 }
/* our teachers section end */

/* Footer section start */
  .text-white2{
    color: #bcc5d0;
  }
  footer li{
    list-style-type: none;
    line-height: 35px;
    margin-left: -30px;
  }
  footer .quick li:before{
    content: "\f0da";
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    padding-right: 10px;
    color: #bcc5d0;
    font-size: 14px;
  }
  footer a{
    font-weight: 400;
    color: #bcc5d0;
  }
  footer a:hover{
    color: #f00768;
    transition: 0.3s all;
  }
  footer .opening li{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #bcc5d0;
  }
  footer .social{
    font-size: 20px;
    padding: 10px 17px;
    border-radius: 50%;
  }
  footer .socialtw{
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 50%;
  }
  footer .socialin{
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 50%;
  }
  footer .socialyt{
    font-size: 16px;
    padding: 10px 14px;
    border-radius: 50%;
  }
/* Footer section end */