*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header section start */

 .my ul li .nav-link{
    color: #000;
    font-size: 14;
    font-weight: bold;
    text-transform: uppercase;
 }
 .collapse .navbar-nav .dropdown .niche li a:hover{
    background-color: #ffb607;
    color: #fff;
    font-weight: bold;
 } 
 .collapse form .btnlog{
    padding: 15px 34px;
    font-size: 16px;
    font-weight: bold;
 }
 .collapse form .btns{
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
 .collapse form .btns:hover{
    background-color: #007bff;
 }
 .collapse form .btnlog:hover{
    background-color: #007bff;
 }
 .dropdown:hover .dropdown-menu{
   display: block;
   border: none;
   left: 0px;
   top: 110px;
   border-radius: none;
 }
 .bg-danger2{background: #fd0100;}
 .nav-item{
   padding: 30px 16px;
 }
 .navbar-nav .nav-item a:hover{
   color: yellow;
   font-weight: bold;
   background-color: red;
 }
 ul .nav-item:hover .nav-link{
   color: #fff;
 }
/* header section end */

/* slider section start */

 .carousel-caption{
   bottom: 25rem;
 }
 .carousel-indicators{
  bottom: 10rem;
}
.carousel-control-prev{
  width: 75px;
  height: 75px;
  background-color: rgb(224, 224, 224);
  position: absolute;
  top: 20rem;
  bottom: 20rem;
}
.carousel-control-next{
  width: 75px;
  height: 75px;
  background-color: rgb(224, 224, 224);
  position: absolute;
  top: 20rem;
  bottom: 20rem;
}
.bt .enroll:hover{
  color: yellow;
  background-color: white;
}
.bt .tour:hover{
  color: black;
  background-color: white;
}
/* slider section end */

/* our feature section start */

 .abc{
   position: relative;
   top: -50px;
 }
 .box{
  padding: 15px;
  border-radius: 20px;
 }
 hr{
  width: 45px;
  border: 2px solid white;
 }
 .abc img{
  position: relative;
  top: -70px;
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/* our feature section end */

/* online learning section start */

 

/* online learning section end */